@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F9F5F1;
  --foreground: #1A1A1A;
}

body {
  background-color: #F9F5F1 !important; /* Cor Areia/Ancestral */
  color: #1A1A1A; /* Ébano para o texto */
  -webkit-font-smoothing: antialiased;
}

/* Opcional: Personalize a barra de rolagem para combinar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F9F5F1;
}
::-webkit-scrollbar-thumb {
  background: #B8860B; /* Ouro Dendê */
  border-radius: 10px;
}